@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Query1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="shortcut icon" href="    favicon.ico">
<div id="menu">
    <span class="icon-menu"></span>
    <div id="dropDownMenu">
        <div class="pure-menu">
            <a class="pure-menu-heading">Required</a>
            <ul>            
                <li><a href="@Url.Action("Index", "Home")"><strong>Query 1</strong></a></li>
                <li><a href="@Url.Action("Query2i", "Home")">Query 2 i</a></li>
                <li><a href="@Url.Action("Query2ii", "Home")">Query 2 ii</a></li>
                <li class="pure-menu-heading">Trivial Queries</li>
                <li><a href="@Url.Action("Query3", "Home")">Query 3</a></li>
                <li><a href="@Url.Action("Query4", "Home")">Query 4</a></li>
                <li><a href="@Url.Action("Query5", "Home")">Query 5</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="page_container">
   
    <div id="header" class="">        
        Yelp Charts  <span class="socicon">h</span>
        <div style="font-size: 20px;">dream team</div>
    </div>
    <div id="info_container">
        <div id="chart_container" class="shadoweffect">
            @(Model)
        </div>
        <div id="business_container" class="shadoweffect">
            <div class="ribbon-wrapper"></div>
            <h1 id="businessName"></h1>
            <div id="businessStars"></div>
            <div id="businessNormStars"></div>
            <div id="businessMilesAway"></div>
            <ul id="categoryList">
            </ul>
            <table id="hours">
                <tr><td><strong>DAY</strong></td><td>open</td><td>close</td></tr>
                <tr><td><strong>Monday</strong></td><td></td><td></td></tr>
                <tr><td><strong>Tuesday</strong></td><td></td><td></td></tr>
                <tr><td><strong>Wednseday</strong></td><td></td><td></td></tr>
                <tr><td><strong>Thursday</strong></td><td></td><td></td></tr>
                <tr><td><strong>Friday</strong></td><td></td><td></td></tr>
                <tr><td><strong>Saturday</strong></td><td></td><td></td></tr>
                <tr><td><strong>Sunday</strong></td><td></td><td></td></tr>
            </table>
        </div>
        </div>
    <div id="chart_controls" class="shadoweffect">
        <h2> Chart Controls </h2>
        <table id="stars_table"> <!--<input type="email" placeholder="Email">-->
            <tr>
                <td><strong>Category</strong></td>
                <td><input id="categoryInput" type="email" placeholder=" Yoga"></td>
            </tr>
            <tr>
                <td>Min</td>
                <td><strong>Star Span</strong></td>
                <td>Max</td>
            </tr>
            <tr>
                <td></td>
                <td><div id="star_slider"></div></td>
                <td></td>
            </tr>
            <tr>
                <td>Min</td>
                <td><strong>Miles Away</strong></td>
                <td>Max</td>
            </tr>
            <tr>
                <td></td>
                <td><div id="miles_slider"></div></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div id="review_container" class="shadoweffect">
        <article>
            <h1>Username</h1>
            <h2>stars</h2>
            <h3>date</h3>
        </article> 
        <article>
            <h1>Username</h1>
            <h2>stars</h2>
            <h3>date</h3>
        </article> 
        <article>
            <h1>Username</h1>
            <h2>stars</h2>
            <h3>date</h3>
        </article> 
        <article>
            <h1>Username</h1>
            <h2>stars</h2>
            <h3>date</h3>
        </article> 
        <article id="loading">            
            <h2>loading . . .  </h2>
        </article>

        <button id="prevBtn" class="pure-button" onclick="graphButton(-1)"> <i class="fa fa-arrow-left"></i> prev </button>
        <div id="pageIdex" class="pure-button">Page 1</div>
        <button id="nextBtn" class="pure-button" onclick="graphButton(1)"> next <i class="fa fa-arrow-right"></i> </button>
    </div>
</div>


<script type="text/javascript">
    /********* page globals **********/

    // Globals like this are horrible but if i have time ill modify it
    // so that everything lives under a single global container {including functions}
    // damn you single namespace

    // Graph Data from ajax calls
    // look to get this data from wrapper
    var jsChartData;
    var hoursData;
    var g_business = new _business();

    var category = "yoga";

    // Query
    var query_index = 1;
    var g_offset = 0;

    // Menu
    var menu_toggle = false;

    // Sliders
    var stars_lower;
    var stars_upper;
    var miles_lower;
    var miles_upper;

    //Comments
    var comment_page = 0;

    var fa_star = "<i class=\"fa fa-star\"></i>";
    var fa_star_half = "<i class=\"fa fa-star-half\"></i>";
    /********* end page globals **********/

    $(document).ready(function () {
        console.log(chart);
        $('#chart_container').append("<button id=\"prevBtn\" class=\"pure-button\" onclick=\"graphButton(-1)\"> <i class=\"fa fa-arrow-left\"></i> prev </button>"
                                    + "<div id=\"pageIdex\" class=\"pure-button\">Page 1</div>"
                                    + "<button id=\"nextBtn\" class=\"pure-button\" onclick=\"graphButton(1)\"> next <i class=\"fa fa-arrow-right\"></i> </button>");

        $('#menu').click(function () { menuDropDown(); })

        // watch for enter
        $("#categoryInput").keyup(function (e) {
            if (e.keyCode == 13) {                
                category = $("#categoryInput").val();
                chart.setTitle({ text: category + " Businesses" });
                g_offset = 0; //reset offset
                refresh();
            }
        });

        $('review_container').scroll(function (event) {
            console.log('scroll')
        });

        initSliders();

        getQuery1();
    });
    var Link = new $.noUiSlider.Link({
        target: function (val) {
            alert(val)
        }
    });

    function graphButton(relation)
    {
        g_offset += relation;

        if (g_offset < 1)
            g_offset = 0;

        refresh();
    }

    function refresh()
    {
        $('#pageIdex').text('Page ' + (g_offset+1));
        getQuery1();
    }

    function initSliders() {
        $("#star_slider").noUiSlider({
            start: [1, 5],
            step: 0.5,
            margin: 0,
            direction: 'ltr',
            connect: true,
            range: {
                'min': 1,
                'max': 5
            },
            serialization: {
                lower: [
                    new $.noUiSlider.Link({
                        target: function (val) {
                            stars_lower = val;
                            $("#stars_table tr:eq(2) td:eq(0)").empty().append(starString(stars_lower))
                        }
                    })
                ],
                upper: [
                    new $.noUiSlider.Link({
                        target: function (val) {
                            stars_upper = val;
                            $("#stars_table tr:eq(2) td:eq(2)").empty().append(starString(stars_upper))
                        }
                    })
                ]
            }            
        });

        $("#miles_slider").noUiSlider({
            start: [0, 25],
            step: 2.5,
            margin: 0,
            direction: 'ltr',
            connect: true,
            range: {
                'min': 0,
                'max': 50
            },
            serialization: {
                lower: [
                    new $.noUiSlider.Link({
                        target: function (val) {
                           miles_lower = val;
                           $("#stars_table tr:eq(3) td:eq(0)").empty().append(miles_lower)
                        }
                    })
                ],
                upper: [
                    new $.noUiSlider.Link({
                        target: function (val) {
                            miles_upper = val;
                            $("#stars_table tr:eq(3) td:eq(2)").empty().append(miles_upper)
                        }
                    })
                ]
            }
        });

        $("#miles_slider").mouseup(function () {
            g_offset = 0;
            refresh()
        });

        $("#star_slider").mouseup(function () {
            g_offset = 0;
            refresh()
        });
    }

    function menuDropDown() {
        //TODO: work on hidden aspect for dropdown menu
        if (menu_toggle)
            $('.pure-menu').css("overflow", "hidden").removeClass('pure-menu-open');
        else
            $('.pure-menu').css("overflow", "visible").addClass('pure-menu-open')

        //toggle menu flag
        menu_toggle ^= true;
    }

    function starString(count)
    {
        var result = ""
        while (count >= 1) {
            result += fa_star;
            count--;
        }
        if (count > 0)
            result += fa_star_half;

        return result;
    }

    function toolTip(point) {
        return returnString = '<b>' + jsChartData[point.x][1] + '</b>'
                           + '<br/>' + starString(jsChartData[point.x][2])
                           + '<br/>Miles Away:' + jsChartData[point.x][4];
    }

    function toolTipClick(point) {
        //update chart
        updateFocus(point);

        //load business info
        loadBusiness(point);
    }

    function loadBusiness(index)
    {
        //Update global business checker
        g_business.bid = jsChartData[index][0];
        g_business.name = jsChartData[index][1];
        g_business.stars = jsChartData[index][2];
        g_business.norm_stars = jsChartData[index][3];
        g_business.distance = jsChartData[index][4];

        //set Info
        $("#businessName").text(g_business.name);
        $("#businessStars").text("Average Rating: ").append(starString(g_business.stars));
        $("#businessNormStars").text("Normalized Rating: ").append(starString(g_business.norm_stars));
        $("#businessMilesAway").text("Distance away: " + g_business.distance + " miles");

        //$("#categoryList").empty()
        //$("#categoryList").append();
        //        <li>yoga</li>
        //    </ul>

        //check hours
        checkOpen(g_business.bid);

        //get comments
        //getReviews(g_business.bd);
    }

    //Clear all series from chart
    function clearChart()
    {
        while (chart.series.length > 0)
            chart.series[0].remove(true);
    }

    function getQuery1() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("apiGetQuery1_1", "Home")",
            data: { min: stars_lower, max: stars_upper, miles: miles_upper, offset: (g_offset * 30), category: category },
            success: function (data) {
                clearChart();
                //covert string to JSON object for parse
                jsChartData = jQuery.parseJSON(data);
                console.log(jsChartData);
                chart.addSeries({
                    name: "Query 1",
                    data: 
                        jsChartData.series,
                        events: {
                            click: function (e) {
                                for(var i = 0; i < chart.series[0].data.length; i++)
                                {
                                    if(chart.series[0].data[i].pageX > (e.pageX - ((900/chart.series[0].data.length)/4)) &&
                                        chart.series[0].data[i].pageX < (e.pageX + ((900/chart.series[0].data.length)/4)))
                                    {
                                        toolTipClick(i);
                                        break;
                                    }
                                }
                            }
                        }  
                });
                jsChartData = jsChartData.data;
            }
        });
    }

    function updateFocus(index) {
        for(var i = 0; i< chart.series[0].data.length; i++){
            chart.series[0].data[i].update({
                marker: {
                    fillColor: '#2f7ed8',
                    states: {
                        hover: {
                            fillColor: '#2f7ed8',
                            lineColor: '#2f7ed8'
                        }
                    }
                }
            });
        }
        chart.series[0].data[index].update({
            marker: {
                fillColor: '#d82f7e',
                states: {
                    hover: {
                        fillColor: '#d82f7e',
                        lineColor: '#d82f7e'
                    }
                }
            }
        });
    }

    function timeString(time)
    {
        if (time > 12) {
            time %= 12;
            time += " pm";
        }
        else {
            time += " am";
        }
        return time;
    }

    function checkOpen(bid) {
        $.ajax({
            type: "Get",
            url: "@Url.Action("apiCheckOpen", "Home")",
            data: { business_id: bid },
            success: function (data) {
                hoursData = jQuery.parseJSON(data);
                if (hoursData.open == "true") {
                    $('.ribbon-wrapper').empty();
                    $('.ribbon-wrapper').append("<div class='ribbon-green'>OPEN</div>");
                }
                else {
                    $('.ribbon-wrapper').empty();
                    $('.ribbon-wrapper').append("<div class='ribbon-red'>CLOSED</div>");
                }

                // empty table hours
                for (var i = 0; i < hoursData.hours.length; i++)
                {
                    var row = ((hoursData.hours[i].day_number - 2) % 7) + 2;
                    $("#hours tr:eq(" + row
                        + ") td:eq(1)").text(timeString(hoursData.hours[0].open));
                    $("#hours tr:eq(" + row
                        + ") td:eq(2)").text(timeString(hoursData.hours[0].close));
                }
            }
        });
    }

    //getComments(g_business.bd)
    function getReviews(bid) {
        $.ajax({
            type: "Get",
            url: "@Url.Action("apiGetReviews", "Home")",
            data: { business_id: bid},
            success: function (data) {
                if (data == "true"){
                    //alert("open");
                    $('ribbon-wrapper').append("<div class=\"ribbon-green\">OPEN</div>");
                }
                else{
                    //alert("close");
                    $('ribbon-wrapper').append("<div class=\"ribbon-red\">CLOSED</div>");
                }
            }
        });
    }

    function _business() {
        this.bid;
        this.name;
        this.stars;
        this.norm_stars;
        this.distance;
        this.hours = [];
    }

</script>



